$white: rgba(245, 245, 245, 1);
$gayish: rgba(223, 237, 255, 1);
$black: rgba(53, 53, 53, 1);
$transparent: rgba(255, 255, 255, 0);
$green: rgba(0, 228, 140, 1);
$red: rgba(228, 57, 53, 1);
$blue: rgba(65, 67, 149, 1);
$purple: rgba(145, 154, 226, 1);

$article_black: rgba(36, 41, 46, 1);
$d_purple: rgba(90, 93, 195, 1);
