@font-face {
    font-family: "Neo Sans Pro";
    src: url("../fonts/NeoSansPro-Regular.ttf");
   }
@font-face {
   font-family: "Neo Sans Pro";
   src: url("../fonts/NeoSansPro-Bold.ttf");
   font-weight: 600;
  }
@font-face {
   font-family: "Neo Sans Pro";
   src: url("../fonts/NeoSansPro-Medium.ttf");
   font-weight: 500;
  }
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
   }
@font-face {
   font-family: "Roboto";
   src: url("../fonts/Roboto-Bold.ttf");
   font-weight: 600;
  }
@font-face {
   font-family: "Roboto";
   src: url("../fonts/Roboto-Medium.ttf");
   font-weight: 500;
  }
