.contact-section {
	background: url(../img/contact.png) no-repeat;
	background-size: cover;
	background-position: center top;
	min-height: 100vh;
	padding-top: RelativeUnits(300, 0.5, desktop-middle, horizontal);

	.title {
		margin-bottom: RelativeUnits(94, 0.5, desktop-middle, horizontal);
		h2, h3, i {
			letter-spacing: 2px;
			color: $purple;
			margin: 0;
		}
		h3 {
			@include SetFontLineSize(0.3, 0.3, 0.4, 30, 8);
			white-space: nowrap;
		}
		h2 {
			@include SetFontLineSize(0.3, 0.3, 0.4, 72, 8);
		}
		i {
			@include SetFontLineSize(0.3, 0.3, 0.4, 30, 8);
			margin-left: RelativeUnits(-65, 0.5, desktop-middle, horizontal);
			margin-right: RelativeUnits(30, 0.5, desktop-middle, horizontal);
		}
	}

	.callback-form-custom {
		@include SetWidth-responsive(460, 0.5);
		max-width: 60vw;

		.button {
			align-self: center;
			margin-top: RelativeUnits(100, 0.5, desktop-middle, horizontal);
			margin-bottom: RelativeUnits(150, 0.5, desktop-middle, horizontal);
		}
		input, button, textarea, select {
			border: none;
			resize: none;
		}
		input, textarea, select {
			font-family: $neosans;
			font-weight: 500;
			@include SetFontLineSize(0.1, 0.1, 0.8, 14, 8);
			color: $black;
			background: $purple;
			padding: 10px 20px;
			border-radius: 20px;
			letter-spacing: 1px;
			width: 100%;
		}
		select {
			@include SetWidth-responsive(360, 0.7);
			background-image: none;
			-webkit-appearance: none;
			padding: 8px 10px;
		}

		.file-box {
			flex-wrap: wrap;
			position: relative;

			input[type=file], input[type=date] {
				width: 0.1px;
				height: 0.1px;
				opacity: 0;
				position: absolute;
				z-index: -10;
			}
			input[type=date] {
				left: RelativeUnits(80, 0.5, desktop-middle, horizontal);
			}
			label {
				@include SetFontLineSize(0.2, 0.2, 0.6, 30, 8);
				color: $white;
				background: $black;
				border-radius: 20px;
				width: RelativeUnits(60, 0.5, desktop-middle, horizontal);
				height: RelativeUnits(60, 0.5, desktop-middle, horizontal);
				display: flex;
				align-items: center;
				justify-content: center;
			}

			@include _tablet-big {
				input[type=date] {
					right: 10%;
					left: auto;
				}
				label, .clock {
					//width: 40%; //if needed file
					//width: 100%;
				}
				select {
					//width: 100%;
					//margin-top: RelativeUnits(20, 0.5, desktop-middle, horizontal);
				}
			}
		}

		.input-box {
			margin-bottom: RelativeUnits(20, 0.5, desktop-middle, horizontal);

			i {
				color: $white;
				@include SetFontLineSize(0.2, 0.2, 0.6, 36, 8);
				margin-left: RelativeUnits(30, 0.5, desktop-middle, horizontal);
				margin-right: RelativeUnits(-65, 0.5, desktop-middle, horizontal);
			}
		}
	}
}
